
  <ul class="pagination">
    {% if pages > 1 %}
    <li>
      <a href="javascript:;" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for i in list %}
    {% if i == page %}
    <li class="active"><a href="javascript:;">{{ i }}</a></li>
    {% else %}
    <li><a href="javascript:;">{{ i }}</a></li>
    {% endif %}
    {% endfor %}
    <li>
      <a href="javascript:;" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>