/*
* @Author: TomChen
* @Date:   2019-04-16 19:30:16
* @Last Modified by:   TomChen
* @Last Modified time: 2019-04-17 18:07:43
*/
.AdminHeader .logo{
	color: #fff;
    float: left;
    font-size: 28px;
    font-weight: 600;
    width: 200px;
}
.AdminHeader .ant-dropdown-link{
	float: right;
	color: #fff;
}