/*
* @Author: TomChen
* @Date:   2019-04-23 20:23:13
* @Last Modified by:   TomChen
* @Last Modified time: 2019-04-25 20:35:29
*/
.form-item{
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}
.label-item{
	display: inline-block;
	width: 100px;
	text-align: right;
}
.content-item{
	display: inline-block;
	width: 400px;
	padding-left: 40px;
}	