<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<table>
			<tr>
				<th>姓名</th>
				<th>年龄</th>
				<th>成绩</th>
				<th>等级</th>
			</tr>
			<tr v-for="person in persons">
				<td>{{person.name}}</td>
				<td>{{person.age}}</td>
				<td>{{person.score}}</td>
				<td v-if="person.score >= 60">及格</td>
				<td v-else>不及格</td>
			</tr>
		</table>
	</div>
</body>
<script src="js/vue.js"></script>
<script>
	let vm = new Vue({
		el:'#app',
		data:{
			persons:[
				{name:"张三",age:18,score:10},
				{name:"李四",age:28,score:70},
				{name:"王五",age:38,score:90}
			]
		}
	});
</script>
</html>