<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		*{
			margin: 0;
			padding: 0;
		}
		button{
			width: 80px;
			height: 40px;
			text-align: center;
			margin-right: 20px;
		}
		.tab-articles-wrap{
			display: flex;
			flex-direction: row;
		}
		.tab-articles-wrap li{
			list-style: none;
			line-height: 30px;
			text-align: center;
		}
		.active{
			color: red;
		}
	</style>
</head>
<body>
	<div id="app">
		<button 
			v-for="tab in tabs"
			@click="currentTab=tab"
		>
			{{tab}}
		</button>
		<keep-alive>
			<component :is="currentTabComponent"></component>
		</keep-alive>
	</div>
	<template id="tab-home">
		<div>
			home page
		</div>
	</template>
	<template id="tab-articles">
		<div class="tab-articles-wrap">
			<ul class="sider">
				<li 
					v-for="article in articles"
					@click="selectedArticle = article"
					:class="{active:selectedArticle == article}"
				>
					{{article.title}}
				</li>
			</ul>
			<div class="content">
				<div v-if="selectedArticle">
					{{selectedArticle.content}}
				</div>
			</div>
		</div>
	</template>	
</body>
<script src="js/vue.js"></script>
<script>
	Vue.component('tab-home',{
		template:'#tab-home'
	})
	Vue.component('tab-articles',{
		template:'#tab-articles',
		data(){
			return {
				articles:[
					{
						id:1,
						title:'Vue的基本介绍',
						content:'Vue是一个视图层的框架'
					},
					{
						id:2,
						title:'React的基本介绍',
						content:'React也是一个视图层的框架'
					},
				],
				selectedArticle:null
			}
		}
	})	
	let vm = new Vue({
		el:'#app',
		data:{
			currentTab:'home',
			tabs:['home','articles']
		},
		computed:{
			currentTabComponent(){
				return 'tab-'+this.currentTab
			}
		}
	});
</script>
</html>