/*
* @Author: TomChen
* @Date:   2019-02-26 18:17:05
* @Last Modified by:   TomChen
* @Last Modified time: 2019-03-01 20:51:06
*/
body{
	font-size: 12px;
}
.container{
	width: 1200px;
	margin-left:auto;
	margin-right: auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}
a{
	text-decoration: none;
	color: #4d555d;
}
a.link:hover{
	color: #ea675a;
}
.transition{
	transition: all 0.5s;
}

.dropdown{
	position: relative;
}
.dropdown-layer{
	display: none;
	position: absolute;
}
.dropdown-left{
	left: 0;
}
.dropdown-right{
	right: 0;
}
.dropdown-loading{
	width: 32px;
	height: 32px;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 19px;
}
[class *= '-active']  .dropdown-arrow{
	transform: rotate(180deg);
}




