/*
* @Author: TomChen
* @Date:   2019-02-26 18:17:05
* @Last Modified by:   TomChen
* @Last Modified time: 2019-03-04 20:19:20
*/
body{
	font-size: 12px;
}
.container{
	width: 1200px;
	margin-left:auto;
	margin-right: auto;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clearfix:after{
	content: '';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix{
	*zoom:1;
}
a{
	text-decoration: none;
	color: #4d555d;
}
a.link:hover{
	color: #ea675a;
}
.transition{
	transition: all 0.5s;
}

.dropdown{
	position: relative;
}
.dropdown-layer{
	display: none;
	position: absolute;
}
.dropdown-left{
	left: 0;
}
.dropdown-right{
	right: 0;
}
.dropdown-loading{
	width: 32px;
	height: 32px;
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 19px;
}
[class *= '-active']  .dropdown-arrow{
	transform: rotate(180deg);
}

/*轮播图公共样式开始*/
	.carousel-wrap{
		position: relative;
		overflow: hidden;
	}
	.carousel-wrap .carousel-item{
		position: absolute;
		left:0;
		top:0;
		width: 100%;
		height: 100%;
	}
	.carousel-wrap .btns{
		position: absolute;
		left:50%;
		bottom: 20px;
	}
	.carousel-wrap .btn-item{
		float: left;
		width: 12px;
		height: 12px;
		background: rgba(0,0,0,0.8);
		border-radius: 50%;
		margin-right: 5px;
		cursor: pointer;
	}
	.carousel-wrap .btn-item.active{
		background: #fff;
	}

	.carousel-wrap .control {
		display: none;
		position: absolute;
		top:50%;
		width: 30px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		background: rgba(0,0,0,0.8);
		font-size: 20px;
		color: #fff;
		margin-top: -30px;
		cursor: pointer;
		user-select: none;
	}
	.carousel-wrap .control-left{
		left:0;
	}
	.carousel-wrap .control-right{
		right: 0;
	}
	.carousel-wrap.fade .carousel-item{
		display: none;
	}
	.carousel-wrap.slide .carousel-item{
		left:100%;
	}
/*轮播图公共样式结束*/


