/*
* @Author: TomChen
* @Date:   2019-02-26 18:17:16
* @Last Modified by:   TomChen
* @Last Modified time: 2019-03-05 18:09:32
*/
/*顶部导航开始*/
	.nav-side{
		height: 44px;
		background: #f3f5f7;
	}
	.nav-login{
		color: #ea675a;
	}
	.nav-left li{
		height: 44px;
		line-height: 44px;
		margin-right: 5px;
	}
	.nav-category{
		height: 44px;
		line-height: 44px;		
	}
	.nav-right>li{
		margin-left: 10px;
	}
	.nav-side .dropdown-toggle{
		display: block;
		height: 44px;
		line-height: 44px;
		padding: 0 5px;
		border-left: 1px solid #f3f5f7;
		border-right: 1px solid #f3f5f7		
	}
	.nav-side .dropdown-layer{
		top:44px;
		background: #fff;
		border: 1px solid #f3f5f7;
		border-top: none;
	}
	.nav-side .menu-item{
		display: block;
		height: 30px;
		line-height: 30px;
		white-space: nowrap;
		padding: 0 5px;
	}
	.nav-side .menu-item:hover{
		background:#f3f5f7; 
	}
	/*
	.dropdown:hover .dropdown-toggle{
		background: #fff;
		border-left: 1px solid #f3f5f7;
		border-right: 1px solid #f3f5f7;
	}
	.dropdown:hover  .dropdown-arrow{
		transform: rotate(180deg);
	}
	.dropdown:hover .dropdown-layer{
		display: block;
	}
	*/
	.menu-active .dropdown-toggle{
		background: #fff;
	}
	/*
	.menu-active .dropdown-layer{
		display: block;
	}
	*/
	
/*顶部导航结束*/

/*头部开始*/
	.header{
		height: 100px;
		background: #fff;
	}
	.header-logo{
		display: block;
		width: 150px;
		height: 70px;
		background-image: url(../images/header-logo.png);
		background-size: 150px;
		background-repeat: no-repeat;
		margin-top: 36px;
	}
	.search{
		position: relative;
		margin-left: 300px;
		margin-top: 26px;
	}
	.search-input{
		width: 400px;
		height: 40px;
		outline:none;
		padding: 0 10px;
		box-sizing: border-box;
		border: 1px solid #ccc;
	}
	.search-btn{
		width: 80px;
		height: 40px;
		box-sizing: border-box;
		border: 1px solid #ccc;
		background-color: #000;
		color: #fff;
		outline: none;
		cursor: pointer;
		margin-left: -1px;
	}
	.search-layer{
		display: none;
		width: 100%;
		position: absolute;
		top:40px;
		left:0;
		border: 1px solid #ccc;
		border-top: none;
		box-sizing: border-box;
		background: #fff;

	}
	.search-item{
		width: 100%;
		height: 30px;
		line-height: 30px;
		padding: 0 10px;
		box-sizing: border-box;
		cursor: pointer;
	}
	.search-item:hover{
		background-color: #f3f5f7;
	}
/*头部结束*/
/*主导航开始*/
	.nav-main{
		height: 50px;
		background: #000;
	}
	.nav-main .link{
		display: inline-block;
		line-height: 50px;
		color: #fff;
		font-size: 14px;
		margin-right: 20px;
	}
	.nav-main .link:nth-child(1){
		margin-left: 100px;
	}
/*主导航结束*/
/*焦点开始*/
	.focus{
		height: 504px;
		background: #f7f7f7;
		margin-bottom: 10px;
	}
	.category{
		position: relative;
		width: 208px;
		margin-top: -54px;
	}
	.category-title{
		display: block;
		width: 100%;
		height: 54px;
		line-height: 54px;
		background: #b1191a;
		font-size: 14px;
		color: #fff;
		padding-left: 10px;
		box-sizing: border-box;
	}
	.category-title .icon{
		margin-right: 5px;
	}
	.category .dropdown{
		position: static;
	}
	.category .dropdown-toggle{
		width: 100%;
		height: 36px;
		line-height: 36px;
		box-sizing: border-box;
		background: #ea675a;
		padding-left: 10px;
		cursor: pointer;
	}
	.category .dropdown-link{
		font-size: 14px;
		color: #fff;
	}
	.category .dropdown-icon{
		position: absolute;
		right: 10px;
		color: #fff;
		font-style: normal;
	}
	.category .dropdown-layer{
		/*display: block;*/
		top:54px;
		left:100%;
		width: 774px;
		min-height: 504px;
		background: #fff;
		padding-bottom: 24px;
		box-sizing: border-box;
	}
	.category-details{
		overflow: hidden;
		margin-top: 24px;
		font-size: 14px;
		width: 764px;
	}
	.category-details-title{
		width: 84px;
		text-align: right;
		box-sizing: border-box;
		padding-right: 10px;
		border-right: 1px solid #ccc;
	}
	.category-details-title-link{
		font-weight: bold;
	}
	.category-details-item{
		width: 670px;
		line-height: 20px;
	}
	.category-details-item .link{
		margin-left: 10px;
		display: inline-block;
	}
	.category-active .dropdown-toggle{
		background: #ccc;
	}
	.category-active .dropdown-link,
	.category-active .dropdown-icon{
		color: #ea675a;
	}
	.category .dropdown-loading{
		margin: 220px auto;
	}
	.focus .carousel-wrap,
	.focus .carousel-wrap .carousel-item img {
		width: 728px;
		height: 504px;
	}
/*焦点区域侧边栏开始*/
	.focus .sidebar {
		width: 249px;
	}

	.focus-news {
		padding: 7px 20px 12px;
		background-color: #fff;
		border: 1px solid #d9dde1;
		border-bottom: none;
	}
	.focus-news-head {
		height: 38px;
		line-height: 38px;
	}
	.focus-news-title {
		color: #ea675a;
		font-size: 16px;
	}
	.focus-news-body {
		line-height: 28px;
	}
	.focus-service {
		background-color: #fff;
		border-left: 1px solid #d9dde1;
	}
	.focus-service-item {
		width: 61px;
		height: 71px;
		border-top: 1px solid #d9dde1;
		border-right: 1px solid #d9dde1;
		text-align: center;
	}
	.focus-service-icon,
	.focus-service-text {
		display: inline-block;
		width: 100%;
	}
	.focus-service-icon {
		margin-top: 17px;
		color: #f67272;
		font-size: 22px;
	}
	.focus-service-text {
		margin-top: 6px;
		color: #4d555d;
	}
	.focus-ad {
		width: 100%;
		height: 90px;
		background: url(../images/focus-ad.png) no-repeat;
	}
	.focus .slider{
		margin-left: 8px;
	}	
/*焦点区域侧边栏结束*/		
/*焦点结束*/

/*今日热销开始*/
	.todays{
		height: 158px;
		background: #fff;
	}
	.todays .carousel-wrap{
		width: 100%;
		height: 158px;
		z-index: 2;
	}
	.todays .carousel-wrap .carousel-item img {
		width: 240px;
		height: 158px;
		float: left;
	}	
/*今日热销结束*/

/*楼层开始*/
	.floor{
		height: 538px;
		margin-bottom: 10px;
	}
	.floor .floor-hd{
		width: 100%;
		height: 70px;
		box-sizing: border-box;
		border-bottom: 1px solid #ea675a;
	}
	.floor .floor-title{
		margin-top: 22px;
		height: 30px;
		line-height: 30px;
	}
	.floor .floor-title .floor-title-num{
		display: inline-block;
		width: 24px;
		height: 24px;
		line-height: 24px;
		background: #000;
		color: #fff;
		font-size: 14px;
		text-align: center;
		border-radius: 50%;
		margin-right: 5px;
	}
	.floor .floor-title .floor-title-text{
		font-size: 16px;
		font-weight: bold;
		position: relative;
		top:2px;
	}
	.floor .tab-item-wrap{
		margin-top: 10px;
		height: 60px;
		line-height: 60px;
	}
	.floor .tab-item-wrap .tab-item{
		display: inline-block;
		margin-right: 10px;
	}
	.floor .tab-item-wrap .tab-item:hover{
		color: #ea675a;
	}
	.floor .tab-item-wrap .tab-item.tab-item-active{
		background: url(../images/floor-arrow.png) no-repeat center bottom;
		color: #ea675a;
	}
	.floor .tab-item-wrap .tab-divider{
	    width: 1px;
	    height: 20px;
	    background: #ccc;
	    margin-top: 20px;
	    margin-right: 10px;
	}
	.floor .tab-panel{
		display: none;
	}
	.floor .floor-item{
		width: 200px;
		height: 234px;
		text-align: center;
		cursor: pointer;
	}
	.floor .floor-item:hover{
		box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
	}
	.floor .floor-item .floor-item-pic{
		margin-top: 24px;
	}
	.floor .floor-item .floor-item-name{
		margin-top: 10px;
	}
	.floor .floor-item .floor-item-price{
		margin-top: 10px;
		color: #ff1414;
		font-weight: bold;
	}
	.floor .container{
		position: relative;
		z-index: 2;
	}
/*楼层结束*/