/*
* @Author: TomChen
* @Date:   2019-04-24 19:57:00
* @Last Modified by:   TomChen
* @Last Modified time: 2019-04-24 19:57:30
*/
.footer{
	margin-top: 10px;
	text-align: center;
}
.links{
	margin-bottom: 10px;
}
.links .link{
	padding:0 10px;
}
.copyright{
	color: #999;
}