{% extends './layout.html' %}
{% block header %}
  用户列表
{% endblock %}

{% block content %}
<div class="content">
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>用户名</th>
      <th>是否管理员</th>
    </tr>
  </thead>
  <tbody>
  	{% for user in users %}
    <tr>
      <td>{{ user._id.toString() }}</td>
      <td>{{ user.username }}</td>
      <td>
      	{% if user.isAdmin %}
      		是
      	{% else %}
      		否
      	{% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% if pages > 1 %}
{% include './pagination.html' %}
{% endif %}
{% endblock %}