<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<%=require('html-loader!./common/meta.html') %>
	<title><%=htmlWebpackPlugin.options.title %>-Kmall商城</title>
</head>
<body>
	<%=require('html-loader!./common/nav.html') %>
	<%=require('html-loader!./common/search.html') %>
	<div class="focus">
		<div class="container clearfix">
			<ul class="keywords">
			</ul>
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide">Slide 1</div>
			        <div class="swiper-slide">Slide 2</div>
			        <div class="swiper-slide">Slide 3</div>
			    </div>
			    <!-- 如果需要分页器 -->
			    <div class="swiper-pagination"></div>
			    
			    <!-- 如果需要导航按钮 -->
			    <div class="swiper-button-prev"></div>
			    <div class="swiper-button-next"></div>
			    
			</div>			
		</div>		
	</div>
	<%=require('html-loader!./common/footer.html') %>
</body>
</html>