<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<%=require('html-loader!./common/meta.html') %>
	<title><%=htmlWebpackPlugin.options.title %>-Kmall商城</title>
</head>
<body>
	<%=require('html-loader!./common/nav.html') %>
	<%=require('html-loader!./common/search.html') %>
	<div class="list">
		<div class="container">
			<div class="crumb">
				<a href="/" class="link">首页</a>
				<i class="fa fa-angle-right"></i>
				<span class="link-text">
					<%= htmlWebpackPlugin.options.title %> 
				</span>
			</div>
		</div>
		<div class="container clearfix">
			<ul class="sort clearfix">
				<li class="sort-item default active">默认排序</li>
				<li class="sort-item price asc">
					按价格
					<i class="fa fa-sort-asc"></i>
					<i class="fa fa-sort-desc"></i>
				</li>
			</ul>
			<div class="product-list-box">
		
			</div>
			<div class="pagination-box">
				
			</div>
		</div>
	</div>		
	<%=require('html-loader!./common/footer.html') %>
</body>
</html>