/*
* @Author: TomChen
* @Date:   2018-11-21 20:45:16
* @Last Modified by:   TomChen
* @Last Modified time: 2018-11-21 20:46:06
*/
body{
	font-size: 20px;
	background-image: url(../images/mn.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}