/*
* @Author: TomChen
* @Date:   2018-11-21 20:45:16
* @Last Modified by:   TomChen
* @Last Modified time: 2018-11-21 20:47:19
*/
body{
	font-size: 18px;
	background-image: url(../images/ys.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}